.u-section-1 .u-sheet-1 {
  min-height: 598px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 60px;
  height: 537px;
  margin-top: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}